.primary-btn {
    background-color: var(--primary-color) !important;
    color: white !important;
    font-family: InterBold !important;
}

.regular-btn {
    background-color: white;
}

.btn {
    border: 2px var(--primary-color);
    border-style: solid;
    padding: 0 16px;
    font-size: 20px;
    border-radius: 5px;
    height: 45px;
}

.form-input {
    font-size: 16px;
    border: none;
    width: 100%;
    outline: none;
    height: 32px;
    margin: 4px;
}

.back {
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    object-fit: cover;
}

#help {
    border: none;
    background-color: none;
}

#message-box  {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 200px);
  bottom: 140px;
  padding: 10px;
  background-color:  var(--primary-color);

  align-self: flex-start;
  z-index: 10;

  border: solid 1px black;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px;
  opacity: 0;
  transition: transform .4s ease,
              opacity .4s ease;
  text-align: center;
  gap: 8px;
  z-index: 0;
  color: white;
  min-width: 200px;
}

#message-box.visible {
    transform: translate(-50%, 0);
    opacity: 1;
}

.highlighted-icon {
    filter: invert(0) brightness(1000%) saturate(0);
}

.required {
    color:#FF8190;
}