.board-bar {
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
}

.search-wrapper {
  display: flex;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
}

.find-task {
  align-items: center;
  border: 1px gray solid;
  padding: 0px 14px;
  width: 260px;
  height: 40px;
  border-radius: 8px;
  margin-right: 34px;
  font-size: 18px;
}

.add-task {
  width: 225px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

.add-task:hover {
  background-color: var(--highligted-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.progress-board {
  gap: 60px;
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  padding-left: 100px;
  justify-content: space-around;
}

.board-task {
  color: var(--primary-color);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.board-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.plus-btn {
  color: var(--primary-color);
  border-radius: 12px;
  border-color: var(--primary-color);
  border: 3px solid;
  width: 35px;
  height: 35px;
  font-size: 24px;
  font-weight: bold;
}

.plus-btn:hover {
  color: var(--highligted-color);
  cursor: pointer;
}

.task-content {
  width: 250px;
  height: 250px;   
}