* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-family: InterBold;
}
h2 {
    font-size: 48px;
    font-family: InterBold;
}
h3 {
    font-size: 38px;
}
h4 {
    font-size: 30px;
}

/* Responsive Styling */

@media (max-width: 768px) {
    h1 {
    font-size: 44px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
}
    