* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    width: calc(100% - 240px);
    box-shadow: 0px 1px 5px rgb(138, 138, 138);
}

nav{
display: flex;
justify-content: center;
flex-direction: column;
gap: 20px;
width: 100%;

}

nav a {
    display: flex;             
    align-items: center;  
    justify-content:stretch;     
    gap: 12px;                  
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;            
    padding: 7px 56px;         
    width: 100%;                
}

nav a:hover {
    color: #fff;               
    background: #091931;
}


.logo{
    height: 120px;
    width: 100px;
}



.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background: #2f3e4e;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:70px 0px;
  justify-content: space-between;
}


.topbar {
  position: fixed;
  top: 0;
  left: 240px;  
  right: 0;
  height: 100px;
  background: #f4f4f4;
  box-shadow: 0px 1px 5px rgb(138, 138, 138);
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 30px;
  justify-content: space-between;
}

.privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top:100px;
    
}

.privacy a{
    color: #CDCDCD;
    text-decoration: none;
}

.privacy a:hover{
    color: white;
}